!!!
%html
  %head
    %title Campus Mapper
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    %p{:class => "notice" }
    %p{:class => "alert"}
    %div#menubar
      %div#title Campus Mapper
      = link_to "Home", "/"
      %div.separator="|"
      = link_to "Index of locations", "#"
      %div.separator="|"
      = link_to "Find directions", "#"
      
      /* TODO future: Wrap in form tag. */
      = search_field("name", "name", { id: "search", placeholder: "Search", autofocus: "" })
      
      %div#login
        = link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path
        = link_to "Sign out", "/users/sign_out"
    
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
